<h1><%= @survey.name %></h1>

<ol class="questions">
<% @survey.questions.each do |question| %>
  <div class="row container">
    <div class="span4">
      <%= question.content %>
    </div>
    <div class="span4">
      <%= content_tag_for(:div, question) do %>
        <% question.answers.each do |answer| %>
          
            <%= link_to answer.content, 
            add_survey_path(answer),
            :class => 'btn btn-primary btn-large',
            :remote => true %>

        <% end %>
      <% end %>
    </div>
<% end %>
</ol>

<%= link_to 'Edit', edit_survey_path(@survey) %>
<%= link_to 'Back to Surveys', surveys_path %>


